{% assign pages = site.pages | sort: 'order' %}
<div id="home-navigation">
  <nav class="navbar navbar-expand">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="/the-project/what-is-fandango/">What is Fandango?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/the-project/timeline/">Timeline</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/the-project/partners/">Partners</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resources/">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news/">News</a>
      </li>
    </ul>
  </nav>
</div>