// Mixins

@mixin gradient($color1: mix( $primary, white, 80% ), $color2:  mix( $primary, white, 25% )) {
  background: $color1;
  background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, $color1), color-stop(100%, $color2));
  background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
  background: -o-linear-gradient(top, $color1 0%, $color2 100%);
  background: -ms-linear-gradient(top, $color1 0%, $color2 100%);
  background: linear-gradient(to bottom, $color1 0%, $color2 100%);
}

// General

h1, h2, h3, h4, h5,
.lead,
.page-title {
  color: $dark;
  font-family: $font-family-titles;
}

.lead {
  font-size: 1.125rem;
  line-height: 1.75rem;

  strong {
    font-weight: 600;
  }
}

.btn-more {
  color: mix( white, $dark, 90% );
  font-size: .875rem;
  letter-spacing: .015em;
  font-weight: 300;
  background: $dark;

  &:before {
    content: "+";
    position: relative;
    top: 2px;
    color: $secondary;
    font-size: 1.25rem;
    line-height: 1;
    margin-right: .5rem;
  }

  &:hover {
    color: $dark;
    background: $secondary;
    font-weight: 400;

    &:before {
      color: $dark;
    }
  }
}


// Header

.navbar-brand  h1 {
  display: none;
}

.navbar {
  padding: 0;

  .navbar-nav {
    padding: 0;

    .nav-link {
      color: mix( $primary, $dark, 75% );
      font-size: .875rem;
      font-family: $font-family-titles;
      text-transform: uppercase;
      padding: 1.25rem 1rem;
    }

    .active .nav-link {
      color: $dark;
      font-weight: 700;
    
      &:after {
        content: "";
        display: block;
        position: relative;
        top: 3px;
        border-bottom: 3px solid $secondary;
      }
    }
  }

  .navbar-toggler {
    padding-left: .5rem;
    padding-right: .5rem;
    border: none;
    border-radius: 0;

    &:hover {
      background: $light;
    }

    .navbar-toggler-icon {
      background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#373752' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
  }
}

.page,
.post{
  
  .page-title{
    text-align: center;
    @extend .my-5;
  }

  .page-content{
    max-width: 640px;
    @extend .mx-auto;
    @extend .mb-5;
  }
}

.hero {
  padding: 1.5rem 0;
  text-align: center;
  @extend .mb-5;
  @include gradient(mix( $primary, white, 50% ), mix( $primary, white, 20% ));

  .page-title{
    font-size: 2.5rem;
    letter-spacing: .015em;
  }
}


// Home

.home-hero {
  padding: 3rem 0 4rem;
  text-align: center;
  @include gradient;

  .lead {
    font-size: 1.625rem;
    letter-spacing: .015em;
    line-height: 2.5rem;
    max-width: 620px;
    margin-bottom: 0;
    padding-top: 2rem;
    @extend .mx-auto;

    span{
      font-weight: 700;
    }
  }
}

.home-item {
  margin: 6rem 0;
  @extend .row;
  
  .col {
    padding: 0;
  }

  img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-top: .5rem;
  }

  h2 {
    display: inline-block;
    font-size: 2rem;
    padding-bottom: .5rem;
    border-bottom: 3px solid $secondary;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  &.align-right {

    .col-7 {
      text-align: right;
      @extend .justify-content-end;
    }
  }

  @include media-breakpoint-up(sm) {

    img {
      float: right;
      width: 80%;
      margin-right: 20%;
    }

    &.align-right img {
      float: left;
      margin-right: 0;
      margin-left: 20%;
    }
  }
}



// Pages

.page-content {
  > p,
  li {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  ul {
    margin-bottom: 2rem;
  }
  li {
    margin-bottom: .5rem;
  }

  h3 {
    display: inline-block;
    font-size: 2rem;
    padding-bottom: .5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-bottom: 3px solid $secondary;
  }

  p {
    margin-bottom: 1.5rem;
  }
}

#resources-list {
  padding: 0;
  margin-bottom: 2rem;

  li {
    list-style: none;

    a {
      color: $dark;
    }

    .icon-link {
      color: $secondary;
      position: relative;
      top: 3px;
      margin-right: .5rem;
    }
  }
}


// Posts

.post {
  text-align: center;

  .date {
    font-size: 1rem;
    color: $primary;
    margin: 0;
  }

  h3 {
    color: $dark;
  }
}

.project-list {
  padding: 0;

  li {
    list-style: none;
    text-align: center;

    a:hover {
      color: $dark;
      text-decoration: none;
    }
  }
}

.partner {
  margin: 4rem 0;

  p {
    margin-bottom: 1rem;
  }
}


// Mailchimp form

#mc_embed_signup {
  @include gradient(mix( $primary, white, 30% ), mix( $primary, white, 70% ));

  h3 {
    font-size: 1.5rem;
    margin: 2rem 0;
    text-align: center; 
  }

  .indicates-required {
    text-align: center;
  }

  form {
    padding: 1rem 1.5rem;

    .mc-field-group {
      width: 100%;
      padding-bottom: .5rem;
    }

    input {
      border-radius: 0;
    }

    .button {
      display: block;
      width: 100%;
      background: $dark;
      border-radius: 0;
      text-transform: uppercase;
      height: 38px;
      margin-top: 1rem;

      &:hover {
        background: lighten( $dark, 10% );
      }
    }
  }
}


// Footer

#main-footer {
  color: white;
  font-size: .813rem;
  font-weight: 300;
  background: $dark;
  letter-spacing: .015em;
  text-align: center;
  line-height: 1.375rem;
  @extend .py-3;

  a {
    color: $light;
    font-weight: 400;
  }

  .eu-flag {
    display: inline-block;
    width: 28px;
    height: 19px;
    margin-top: -.1rem;
    margin-right: .5rem;
  }
}