.home .lead {
  max-width: 520px;
  margin-bottom: 0;
}

.page,
.post{
  
  .page-title{
    text-align: center;
    @extend .my-5;
  }

  .page-content{
    max-width: 640px;
    @extend .mx-auto;
    @extend .mb-5;
  }
}