h1, h2, h3, h4, h5,
.lead,
.page-title {
  color: $dark;
  font-family: $font-family-titles;
}

.btn-more {
  color: mix( white, $dark, 90% );
  font-size: .875rem;
  letter-spacing: .015em;
  font-weight: 300;
  background: $dark;

  &:before {
    content: "+";
    position: relative;
    top: 2px;
    color: $secondary;
    font-size: 1.25rem;
    line-height: 1;
    margin-right: .5rem;
  }

  &:hover {
    color: $dark;
    background: $secondary;
    font-weight: 400;

    &:before {
      color: $dark;
    }
  }
}

.navbar-brand {
  padding: 0;
  margin: 10px 0;

  h1 {
    display: none;
  }
}

.navbar {

  .navbar-nav .nav-link {
    color: $dark;
    font-family: $font-family-titles;
    font-weight: 700;
    text-transform: uppercase;
  }

  .navbar-toggler {
    padding-left: .5rem;
    padding-right: .5rem;
    border: none;
    border-radius: 0;

    &:hover {
      background: $light;
    }

    .navbar-toggler-icon {
      background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#373752' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
  }
}

.page,
.post{
  
  .page-title{
    text-align: center;
    @extend .my-5;
  }

  .page-content{
    max-width: 640px;
    @extend .mx-auto;
    @extend .mb-5;
  }
}

.hero {
  background: mix( $primary, white, 25% );
  padding: 1.5rem 0;
  @extend .mb-5;

  .page-title{
    font-size: 2.5rem;
    letter-spacing: .015em;
  }
}


// Home

.home-hero {
  padding: 3rem 0 4rem;
  background: mix( $primary, white, 80% );
  @extend .text-center;

  .lead {
    font-size: 1.625rem;
    letter-spacing: .015em;
    line-height: 2.5rem;
    max-width: 620px;
    margin-bottom: 0;
    padding-top: 2rem;
    @extend .mx-auto;

    span{
      font-weight: 700;
    }
  }
}

.home-item {
  margin-bottom: 4rem;
  @extend .col-sm-12;

  h2 {
    display: inline-block;
    font-size: 2rem;
    padding-bottom: .5rem;
    border-bottom: 3px solid $secondary;
  }

  p {
    margin-top: 1rem;
  }
}


// Mailchimp form

#mc_embed_signup {
  //background: $primary;

  h3 {
    font-size: 1.5rem;
  }

  form {
    padding: 1rem 1.5rem;
    background: $light;

    .mc-field-group {
      width: 100%;
      padding-bottom: .5rem;
    }

    input {
      border-radius: 0;
    }

    .button {
      background: $dark;
      border-radius: 0;
      text-transform: uppercase;
      height: 38px;
      margin-top: 1rem;

      &:hover {
        background: lighten( $dark, 10% );
      }
    }
  }
}


// Footer

#main-footer {
  color: white;
  background: $dark;
  @extend .py-3;
}