---
layout: default
---

<div class="container">
  {{ content }}
</div>

<div class="bg-light py-5 mt-5">
  <div class="container">
    <p class="text-center">Signup to receive our news</p>
    <form class="form-inline justify-content-center">
      <div class="form-group">
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="password" class="form-control" id="inputEmail" placeholder="email">
      </div>
      <button type="submit" class="btn btn-primary">Subscribe</button>
    </form>
  </div>
</div>